<script type="text/javascript" src="/assets/maps-show.js"></script>

<div class="page-wrap">
   <header>
      <div class="page-header">
         <h1>Map Profile</h1>
      </div>
   </header>

   <h1> <%= @map.title %> </h1>

   <hr>

   <h3> Created By: <%= @creator.first_name %> </h3>

   <p> <%= @user.username %> is the one logged in. FYI. </p>

   <!-- selectpicker show-tick -->
   <div class="form-control" id="version-select-wrap">
      <select id="version-select">
         <option value="<%= @map.subtitle %>"><%= @map.subtitle %></option>
         <% @versions = @map.versions %>
         <% @versions.each do |version| %>
         <option value="<%= version.subtitle %>"><%= version.subtitle %></option>
         <% end %>
      </select>
   </div>


   <!-- VERSION SEEING CONTROLS -->

   <div>
      <div class="image-wrap">
         <img class="map-img-main" id="<%= @map.subtitle %>" src="<%= @map.url %>">
      </div>
      <p><%= @map.subtitle %></p>
      <% @versions.each do |version| %>
      <div class="image-wrap">
         <img class="map-img-main" id="<%= version.subtitle %>" src="<%= version.url %>">
      </div>
      <p><%= version.subtitle %></p>
      <% end %>
   </div>




   <!-- VERSION CREATION CONTROLS (SENDS TO VERSION AND IS CREATED OFF OF CURRENTLY VIEWED VERSION) -->
   <!-- <= button_to  > -->
   <a href="/maps/<%= @map.id %>/versions/new"><button class="btn btn-sm btn-default">Created New Version</button></a>



   <div>
      <% if @map.versions %>
         <!-- TEST TEST TEST -->
         <% num = 0 %>
         <ul>
         <% @versions.each do |version| %>
         <% num += 1 %>
         <% end %>
         </ul>
         <p>Number of versions: <strong> <%= num %> </strong></p>
      <% else %>
         <h3>Master Version Only</h3>
      <% end %>
   </div>





</div>


<!--
NOTE: POSSIBLY WAY TO SHOWCASE MULTIPLE VERSIONS:

!! NOTE !! New versions are NOT edits to the map.
           Edits change the base map. Versions are
           separete pictures.

* On "edit" New picture gets saved to database. On view user can select which
   versions to see based on a drop down select box that will toggle a view
   hidden function on a list of pictures. (# NOTE: This would cause all versions to
                                                   be loaded to the DOM when the
                                                   document is rendered.)

* User can give subtitle to Maps that will name the versions. (# NOTE: This means I'll need another
                                                                       model, Versions model. Versions
                                                                       routes. Versions controller. etc...
                                                                       Also will need to add a new column
                                                                       to the table.)



-->
