<div class="page-wrap">
   <header>
      <div class="page-header">
         <h1>Map Profile</h1>
      </div>
   </header>

   <h1> <%= @map.title %> </h1>

   <hr>

   <h3> Created By: <%= @creator.first_name %> </h3>

   <p> <%= @user.username %> is the one logged in. FYI. </p>


   <!-- VERSION SEEING CONTROLS -->

   <div>
      <img src="<%= @map.url %>">
   </div>



   <!-- VERSION CREATION CONTROLS (SENDS TO VERSION AND IS CREATED OFF OF CURRENTLY VIEWED VERSION) -->
   <!-- <= button_to  > -->
   <a href="/mapss/<%= @map.id %>/versions/new"><button class="btn btn-sm btn-default">Created New Version</button></a>


</div>
<!--
NOTE: POSSIBLY WAY TO SHOWCASE MULTIPLE VERSIONS:

!! NOTE !! New versions are NOT edits to the map.
           Edits change the base map. Versions are
           separete pictures.

* On "edit" New picture gets saved to database. On view user can select which
   versions to see based on a drop down select box that will toggle a view
   hidden function on a list of pictures. (# NOTE: This would cause all versions to
                                                   be loaded to the DOM when the
                                                   document is rendered.)

* User can give subtitle to Maps that will name the versions. (# NOTE: This means I'll need another
                                                                       model, Versions model. Versions
                                                                       routes. Versions controller. etc...
                                                                       Also will need to add a new column
                                                                       to the table.)

<div class="panel">
	<ul class="list-unstyled">
		<% maps = @maps %>
		<% @maps.each do |map| %>
			<% @versions = map.versions %>
			<% @edits.each do |edit| %>
			<% @editor = edit.user %>
			<li>
				<div class="mock-page">
					<div class="mock-page">
						<ul class="list-unstyled">
							<li>
								<div class="edit-wrap">
									<h4> <%= submission.title %> <small> Edited by: <%= @editor.first_name %> <%= @editor.last_name[0] %>. </small></h4>
									<a href="/edits/<%= edit.id %>"><button class="btn btn-xs btn-info">See More...</button></a>
									<% edit.line_edits = edit.line_edits.truncate_words(50) %>
									<% line_edits = simple_format(edit.line_edits) %>
									<p> <%= line_edits %> </p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<% end %>
		<% end %>
	</ul>
</div>

-->
