<div class="page-wrapper">

   <header>
      <div class="page-header">
         <h1>Edit <%= @user.first_name %>'s Profile</h1>
         <h2><small>Add Your Story to the Editorial Pile</small></h2>
      </div>
   </header>


   <!-- TEMP NAV -->
   <div class="btn-group">
      <a href="/index"><button type="button" class="btn btn-md btn-success">Home</button></a>
      <a href="/sessions/new"><button type="button" class="btn btn-md btn-info">Login</button></a>
      <a href="/users/new"><button type="button" class="btn btn-md btn-warning">Sign Up</button></a>
      <a href="/maps/new"><button type="button" class="btn btn-md btn-success">Map Creator</button></a>

      <a href="/maps"><button type="button" class="btn btn-md btn-danger">Gallery</button></a>

      <% if @current_user %>
         <a href="/users/<%= @current_user.id %>"><button type="button" class="btn btn-md btn-primary">Profile</button></a>
      <% else %>
         <p>Not Logged In</p>
      <% end %>
   </div>
   
   <hr>

   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <ul class="list-unstyled">
            <li> <%= @user.first_name %> </li>
            <li> <%= @user.last_name %> </li>
            <li> <%= @user.username %> </li>
         </ul>
      </div>
   </div>

   <hr>

   <div class="form-wrapper col-md-6 col-md-offset-3">
   	<br>
   	<div class="form-group">
   		<%= form_for @user, url: {action: "update"} do |f| %>
            <fieldset disabled>
               <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
            </fieldset>
            <br>
   			<%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
   			<br>
   			<%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
   			<br>
   		 	<%= f.text_field :username, placeholder: "Username", class: "form-control" %>
   			<br>
   			<%= f.password_field :password, placeholder: "Confirm Password to Update Profile", class: "form-control" %>
   			<br>
   			<%= f.submit "Update Profile", class: "btn btn-block" %>

   		<% end %>
   	</div>
   </div>

   <div id="delete-button">
      <%= button_to "Delete", { action: "destroy", id: @user.id }, method: :delete, class: "btn btn-block btn-danger", data: { confirm: "Are you sure?" } %>
   </div>


</div>
