<div class="page-wrap">
   <header>
      <div class="page-header">
         <h1 class="page-title">Sign Up</h1>
      </div>
   </header>

   <div class="col-md-4 col-md-offset-4" id="new-form-wrap">
      <br/>
      <div class="form-group" role="group">
         <%= form_for @user do |f| %>
         <div class="form-group" role="group">
         	<%= f.text_field :username, placeholder: "Username", class: "form-control" %>
         </div>
         <div class="form-group" role="group">
         	<%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
         </div>
         <div class="form-group" role="group">
         	<%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
         </div>
         <div class="form-group" role="group">
         	<%= f.email_field :email, placeholder: "Email", class: "form-control" %>
         </div>
         <div class="form-group" role="group">
         	<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
         </div>
         <div class="form-group" role="group">
         	<%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %>
         </div>

         <div class="form-group" role="group">
         	<%= f.submit "Create Account", class: "btn btn-block" %>
         </div>

         <% end %>
      </div>
      <p>Already have an account? <a href="/sessions/new">Login</a></p>
   </div>
</div>
