<div class="page-wrap">

   <header>
      <div class="page-header">
         <h1>Hello <%= @user.username %> </h1>
      </div>
   </header>


   <div class="button-group" role="group">
      <a href="/index"><button type="button" class="btn btn-md btn-warning">Home</button></a>
      <!-- <a href="/users/<%= @current_user.id %>"><button type="button" class="btn btn-xs btn-info">Profile</button></a> -->
      <%= button_to "Logout", logout_path, method: "delete", class: "red pull-left btn btn-danger btn-xs navbar-right navbar-btn" %>
   </div>

   <div class="row">
		<a href="/users/<%= @user.id %>/edit"><button class="btn btn-danger btn-block">Edit Profile</button></a>
	</div>

   <div id="user-map-display">
      <ul class="list-unstyled">
         <% @maps = @user.maps %>
         <% @maps.each do |map| %>
         <% count_num = 0 %>
         <% @versions = map.versions %>
         <li>
            <div class="user-map-wrap">
               <h2><%= map.title %></h2>
               <img src="<%= map.url %>">
               <a href="/maps/<%= map.id %>"><button class="btn btn-md btn-default">See Full Map</button></a>
               <h4>Versions</h4>
               <% @versions.each do |version| %>
               <% count_num += 1 %>
               <p><%= count_num %>. <%= version.subtitle %></p>
               <% end %>
            </div>
         </li>
         <% end %>
      </ul>
   </div>

</div>
